.container{
    width: 500px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.box{
    width: 45%;
    margin: auto;
    border: 2px solid black;
}
.box .box_1{
    width: 45%;
    margin: auto;
}
.box_1 img{
    width: 100%;
}
.box2{
    width: 40%;
    margin: auto;
    border: 2px solid black;
}